%nav.navbar.navbar-full.navbar-light.bg-faded
  = link_to t('doorkeeper.layouts.admin.nav.oauth2_provider'), root_path, class: 'navbar-brand'
  %ul.nav.navbar-nav
    -if user_signed_in?
      -if current_user.admin?
        %li.nav-item
          = link_to t('doorkeeper.layouts.admin.nav.applications'), oauth_applications_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Edit User', edit_registration_path, class: 'nav-link'

    .pull-xs-right
      %li.nav-item
        -if user_signed_in?
          = link_to 'Logout', destroy_user_session_path, class: 'nav-link'
        -else
          = link_to 'Login', new_user_session_path, class: 'nav-link'

      %li.nav-item
        -unless user_signed_in?
          = link_to 'Register', new_registration_path, class: 'nav-link'
