!!!
%html
  %head
    %title= t('doorkeeper.layouts.admin.nav.oauth2_provider')
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render partial: 'partials/navbar'
      = render partial: 'partials/alerts'
      = yield
